/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Appliquer une hauteur de 100% à l'html et au body */
html, body {
    height: 100%;
    display: flex;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    background-color: #0A0A30; /* Modifier la couleur de fond selon vos préférences */
}

/* Container qui contient le logo */
.container {
    text-align: center;
}

/* Image du logo */
.container img {
    max-width: 50%; /* Réduit la largeur du logo à 50% de sa taille d'origine */
    height: auto; /* Conserve le ratio de l'image pour éviter toute déformation */
    display: block; /* Centre l'image dans le conteneur */
    margin: 0 auto; /* Centre horizontalement l'image à l'intérieur du conteneur */
}