/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global pour la mise en page mobile */
@media only screen and (max-width: 768px) {
    .why-choose-content ul li {
        line-height: 1.8; /* Ajustement de l'espacement entre les lignes */
        margin-bottom: 15px;
    }

    .why-choose-content p, 
    .why-choose-content ul li {
        word-wrap: break-word;
        white-space: normal;
    }

    h2, h1 {
        font-size: 1.6rem; /* Taille de police plus petite pour les titres */
    }

    .why-choose-content {
        padding: 15px; /* Réduction des marges sur mobile */
    }

    .why-choose-content ul {
        padding-left: 15px; /* Diminution du retrait pour les puces sur mobile */
    }
}

/* Apply 100% height to the html and body */
html, body {
    height: 100%;
    background-color: #0A0A30;
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Floating Navigation Button */
#nav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10px;
    color: #ccc;
}

#nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-color: #fff;
}

/* Hidden Navigation Menu */
#nav-menu {
    display: none;
    position: fixed;
    right: 20px;
    top: 60px;
    background-color: #0A0A30;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
}

#nav-menu ul {
    list-style: none;
}

#nav-menu ul li {
    margin-bottom: 10px;
}

#nav-menu ul li a {
    color: white;
    text-decoration: none;
}

#nav-menu ul li a:hover {
    color: #DAA520;
}

/* Floating Logo in the top-left corner of each section (except home) */
.section-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    max-width: 50px;
    height: auto;
    z-index: 1000;
    display: none;
    border-radius: 10px; /* This makes the logo perfectly circular */
    background-color: transparent; /* Optional: Set a background color if needed */
}

.section-logo.show {
    display: block; /* Show when the second section is reached */
}

/* Logo Section (Landing Page) */
.logo-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
}

/* Logo styling */
.container img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    position: relative;
    z-index: 1;
}

/* Logo text styling */
#logo-text {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 60%;
    z-index: 2;
    animation-delay: 0.2s;
}

/* Fade-in Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Section styling */
.section {
    position: relative;
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

/* About Section */
.about-content {
    max-width: 800px;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    margin: 0 auto;
}

.about-content ul {
    list-style: disc;
    padding-left: 40px;
    margin-top: 20px;
}

.about-content ul li {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Pourquoi choisir Cintu Section */
.why-choose-content {
    max-width: 800px;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    margin-top: 20px;
    margin: 0 auto;
}

.why-choose-content ul {
    list-style: disc;
    padding-left: 40px;
    margin-top: 20px;
}

.why-choose-content ul li {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Contact Section */
.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-column {
    text-align: center;
    margin: 10px;
}

.contact-photo {
    max-width: 100px; /* Adjust the size of the photo */
    height: auto;
    border-radius: 0; /* Remove the circular frame */
    margin-bottom: 20px; /* Add space between the photo and company name */
}

.company-name {
    font-size: 1.1rem; /* Same font size as Pourquoi choisir Cintu */
    margin-bottom: 15px; /* Add space between Cintu Transmission and the contact details */
    color: #0A0A30; /* Set the same color */
    font-weight: bold; /* Set the font-weight to bold */
    line-height: 1.6; /* Adjust line height for better readability */
}

.contact-info a {
    font-size: 1.1rem; /* Same font size as Pourquoi choisir Cintu */
    color: #0A0A30; /* Set text color to match */
    text-decoration: none;
    line-height: 1.6; /* Adjust line height */
}

.contact-info a:hover {
    color: #DAA520; /* Change color on hover */
}

.contact-info {
    margin-bottom: 10px; /* Add space between each contact info */
    font-size: 1.1rem; /* Same font size as Pourquoi choisir Cintu */
    color: #0A0A30; /* Set text color to match */
    line-height: 1.6; /* Adjust line height */
}

/* Styles pour rendre l'image responsive */
.contact-photo {
    max-width: 300px; /* L'image ne dépassera jamais 100% de la largeur du conteneur */
    height: auto; /* Conserve les proportions de l'image */
    display: block; /* Évite les espaces blancs autour de l'image */
    margin: 0 auto; /* Centre l'image */
}

/* Pour mobile - ajustement spécifique */
@media only screen and (max-width: 768px) {
    .contact-photo {
        max-width: 90%; /* Réduction de la taille de l'image pour les petits écrans */
    }
    
    .contact-section {
        padding: 20px; /* Ajoute plus d'espace autour pour aérer le contenu */
        text-align: center; /* Centre le texte pour améliorer la lisibilité sur mobile */
    }

    /* Ajuste le texte pour mobile */
    .contact-section h2, .contact-section p {
        font-size: 1.2rem; /* Réduction de la taille de la police pour les titres */
        line-height: 1.5; /* Augmentation de l'espacement entre les lignes */
    }
}

/* Adjust the spacing between section titles */
.section h2 {
    margin-bottom: 20px; /* Adjust this value to increase/decrease space */
}

.section h1 p {
    margin-top: 30px; /* Add spacing above the paragraph */
    margin-bottom: 20px; /* Adjust this value if more space is needed between the title and paragraph */
    font-size: 1.5rem; /* Optional: adjust font size for emphasis */
}
/* Styling for What to Expect Section */
.what-expect-content {
    max-width: 800px;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-top: 20px;
}

.what-expect-content ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 20px;
}

.what-expect-content ul li {
    margin-bottom: 15px;
}

/* Profil photo circulaire */
.profile-photo {
    width: 150px; /* Taille du cercle */
    height: 150px;
    border-radius: 50%; /* Crée un cercle */
    object-fit: cover; /* S'assure que l'image s'ajuste bien dans le cercle */
    border: 2px solid #0A0A30; /* Bordure fine */
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre pour l'effet */
}


/* Hide the logo in the Contact section */
#contact .section-logo {
    display: none;
}

/* Footer */
footer {
    background-color: #0A0A30;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}